<!--The content below is only a placeholder and can be replaced.-->
<div class="box" [ngStyle]="{'width':settings?.pageWidth}">
  <div style="text-align:center;">
    <div class="header" [ngStyle]="{'background-color':settings?.headerColor}">
      {{ settings?.title }}
    </div>
  </div>
    <h2>
      Setting from server
    </h2>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Name</td>
          <td>{{settings.settings}}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>pageWidth</td>
          <td>{{settings.pageWidth}}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>text</td>
          <td>{{settings.text}}</td>
        </tr>
      </tbody>
    </table>
  <div class="footer" [ngStyle]="{'background-color':settings?.footerColor}">
    {{ settings?.text }}
  </div>
</div>

<router-outlet></router-outlet>
